{% extends 'base.html'%}


        {% block sidebar %}

            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
              <div class="sidebar-sticky">
                <ul class="nav flex-column">


        {% for cat in categories %}

        <li class="nav-item">
            <a class="nav-link" href="{{url_for('category_view', category_id = cat.id)}}">
              <i data-feather="file"></i>
              {{ cat.name }}
            </a>
          </li>

         {% endfor %}

                </ul>
            </div>
        </nav>

        {% endblock %}


        {% block main_content %}
         <h3>Session is {{state}}</h3>
            {% for item in items %}
                <li><a href="{{url_for('item_view', category_id = item.category.id, item_id = item.id)}}">{{ item.name }}</a></li>
         {% endfor %}

        {% endblock %}
