{% extends 'base.html'%}


        {% block sidebar %}

            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
              <div class="sidebar-sticky">
                <ul class="nav flex-column">


        {% for cat in categories %}

        <li class="nav-item">
            <a class="nav-link" href="{{url_for('category_view', category_id = cat.id)}}">
              <i data-feather="file"></i>
              {{ cat.name }}
            </a>
          </li>

         {% endfor %}

                </ul>
            </div>
        </nav>

        {% endblock %}


        {% block main_content %}
         <h4>Session is {{state}}</h4>

         <div class="jumbotron">
            <h1 class="display-4">{{ item.name }}</h1>
            <p class="lead">{{ item.description}}</p>
            <hr class="my-4">

            <a class="btn btn-info btn-lg" href="#" role="button">Edit</a>
            <a class="btn btn-info btn-lg" href="#" role="button">Delete</a>
          </div>


        {% endblock %}
        {% block footer %}
            {% if loggedIn %}
              <script>
                  $('#signinButton').attr('style', 'display: none');
                  $('#signoutButton').removeClass("d-none");
              </script>
            {% endif %}
        {% endblock %}
